body{
	max-width: 750px;
  margin: 25px auto;
  background-color: #e5dad3; 
}

h1{
  color: black;
  font-size: 40px;
  text-align: center;
  margin: 25px;
}

h3{
  color: black;
  font-size: 30px;
  font-weight: bold;
}

p{
  color:black;
  font-size: 30px;
  text-align: center;
}

ol{
  color:black;
  font-size: 20px;
  margin: 10px;
  display: block !important;
  list-style: decimal;
}

ul{
  color:black;
  font-size: 20px;
  margin: 10px;
  display: block;
  list-style-type: disc;
}

img{
  width: 250px;
  border-radius: 50%;
  border: black 5px solid;
  margin: 25px 33.33%;
}